<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<div class="form-div">
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
<form class="form" action="/account/register" method="post">
    <p>All fields are required.</p>
    <label for="first_name">First Name:</label>
    <input type="text" name="account_firstname" id="first_name" required value="<%= locals.account_firstname %>">
    <label for="last_name">Last Name:</label>
    <input type="text" name="account_lastname" id="last_name" required value="<%= locals.account_lastname %>">
    <label for="email">Email:</label>
    <input type="email" name="account_email" id ="email" required value="<%= locals.account_email %>">
    <label for="password">Password:</label>
    <input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Password must be at least 12 characters long and contain at least one uppercase letter, one number, and one special character" required>
    <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p> 
    <input type="submit" value="Register">
</form>
</div>