<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<div class="form-div">
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    <p>Confirm Deletion - The deletion is permanent</p>
    <form class="form" action="/inv/delete" method="post">
        <label for="inv_make">Make:</label>
        <input type="text" name="inv_make" id="inv_make" required readonly minLength="3" placeholder="Min of 3 characters" value="<%= locals.inv_make %>">

        <label for="inv_model">Model:</label>
        <input type="text" name="inv_model" id="inv_model" required readonly minLength="3" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" >

        <label for="inv_year">Year:</label>
        <input type="text" name="inv_year" id="inv_year" size="4" placeholder="4-digit year" required readonly pattern="^(19|20)\d{2}$" value="<%= locals.inv_year %>">

        <label for="inv_price">Price:</label>
        <input type="text" name="inv_price" id="inv_price" size="10" placeholder="Decimal or integer values only" pattern="^-?\d+(\.\d+)?$" required readonly value="<%= locals.inv_price %>">
        
        <input type="submit" name="submit" value="Delete">
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
    </div>